# Toronto_coordinates notebook
## Getting the Latitudes and Longitudes for the different postcodes of Toronto

In [4]:
import pandas as pd

!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.11
  latest version: 4.7.11

Please update conda by running

    $ conda update -n base -c defaults conda



# All requested packages already installed.

### The data frame created in the previous question had been converted and stored as 'toronto_data.csv' by me.
### So, here reading the csv file

In [14]:
df = pd.read_csv('toronto_data.csv')
df = df[['PostalCode','Borough', 'Neighbourhood']]
df.head()

  PostalCode      Borough                           Neighbourhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough     Scarborough, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                             Scarborough

### The geocode is retreiving the latitudes and longitudes only of few postal codes only. So, using the Geospatial_Coordinates.csv for latitudes and longitudes

In [16]:

# for ind in range(5):
#     #print(i)
#     location = None
#     postalcode = df.loc[ind,'PostalCode']
#     geolocator = Nominatim(user_agent ='ca_explorer')
#     while location == None:
#         print(ind)
#         location = geolocator.geocode('{}, Toronto, Ontario'.format(postalcode))
#     print(postalcode, location.latitude, location.longitude)

In [17]:
spatial_coord = pd.read_csv('Geospatial_Coordinates.csv')
spatial_coord.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [20]:
# Renaming the column name so that it is not an issue while merging the dataframes
spatial_coord.rename(columns={'Postal Code': 'PostalCode'}, inplace=True)
spatial_coord.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [21]:
# Creating a new data frame 'toronto_merged' which is not copied with toronto data in 'df'
toronto_merged = df
toronto_merged.head()

  PostalCode      Borough                           Neighbourhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough     Scarborough, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                             Scarborough

In [22]:
# Merging the two data frames toronto_merged and spatial_coord 
toronto_merged = toronto_merged.merge(spatial_coord, how='inner', on='PostalCode')
toronto_merged.head()

,PostalCode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Scarborough, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Scarborough,43.773136,-79.239476